<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 19 Lab</h1>
</div>

For this lab, we'll be using the `flights.txt` file located in `/datasets`.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Part 1**

Open `../datasets/flights.txt`. Use the methods we've learned in class to analyze the dataset from the top-level (see how many rows it has, how many null values, what columns are necessary, etc.).

**a.** read the file into a dataframe (hint: as a csv)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [2]:
flights = pd.read_csv('../datasets/flights.txt', sep="|")
flights

,Unnamed: 0,Unnamed: 0.1,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,...,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,0,0,2013,1,1,517.0,515,2.0,830.0,819,...,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,1,1,2013,1,1,533.0,529,4.0,850.0,830,...,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2,2,2013,1,1,542.0,540,2.0,923.0,850,...,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,3,3,2013,1,1,544.0,545,-1.0,1004.0,1022,...,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,4,4,2013,1,1,554.0,600,-6.0,812.0,837,...,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,99995,2013,12,19,814.0,817,-3.0,920.0,931,...,EV,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z
99996,99996,99996,2013,12,19,815.0,810,5.0,1033.0,1047,...,9E,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z
99997,99997,99997,2013,12,19,815.0,815,0.0,1117.0,1123,...,B6,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z
99998,99998,99998,2013,12,19,815.0,749,26.0,1113.0,1103,...,UA,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z
99999,99999,99999,2013,12,19,816.0,800,16.0,1130.0,1118,...,UA,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z

**b.** Find the memory usage programmatically (hint: use `help`)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.memory_usage.html

In [3]:
df = pd.DataFrame(flights)
df.head()

,Unnamed: 0,Unnamed: 0.1,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,...,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,0,0,2013,1,1,517.0,515,2.0,830.0,819,...,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,1,1,2013,1,1,533.0,529,4.0,850.0,830,...,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2,2,2013,1,1,542.0,540,2.0,923.0,850,...,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,3,3,2013,1,1,544.0,545,-1.0,1004.0,1022,...,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,4,4,2013,1,1,554.0,600,-6.0,812.0,837,...,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z

In [4]:
df.memory_usage()

Index                128
Unnamed: 0        800000
Unnamed: 0.1      800000
year              800000
month             800000
day               800000
dep_time          800000
sched_dep_time    800000
dep_delay         800000
arr_time          800000
sched_arr_time    800000
arr_delay         800000
carrier           800000
flight            800000
tailnum           800000
origin            800000
dest              800000
air_time          800000
distance          800000
hour              800000
minute            800000
time_hour         800000
dtype: int64

**c.** Find the number of missing entries for each column.

In [5]:
df.isna()

,Unnamed: 0,Unnamed: 0.1,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,...,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
df.isna().sum().sort_values(ascending=False)

arr_delay         2146
air_time          2146
arr_time          1964
dep_time          1894
dep_delay         1894
tailnum            547
Unnamed: 0.1         0
year                 0
month                0
day                  0
sched_dep_time       0
time_hour            0
sched_arr_time       0
minute               0
carrier              0
flight               0
origin               0
dest                 0
distance             0
hour                 0
Unnamed: 0           0
dtype: int64

**d.** What columns are unnecessary? Remove them so that the `df` doesn't include them.

In [7]:
df = df.drop(columns=df[[c for c in df.columns if 'Unnamed' in c]])
df

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2013,12,19,814.0,817,-3.0,920.0,931,-11.0,EV,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z
99996,2013,12,19,815.0,810,5.0,1033.0,1047,-14.0,9E,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z
99997,2013,12,19,815.0,815,0.0,1117.0,1123,-6.0,B6,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z
99998,2013,12,19,815.0,749,26.0,1113.0,1103,10.0,UA,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z
99999,2013,12,19,816.0,800,16.0,1130.0,1118,12.0,UA,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z

**e.** Carrier/airline information is located below. Use the information in there to create a new column with a human-readable airline name.

```
"9E" "Endeavor Air Inc.",
"AA" "American Airlines Inc.",
"AS" "Alaska Airlines Inc.",
"B6" "JetBlue Airways",
"DL" "Delta Air Lines Inc.",
"EV" "ExpressJet Airlines Inc.",
"F9" "Frontier Airlines Inc.",
"FL" "AirTran Airways Corporation",
"HA" "Hawaiian Airlines Inc.",
"MQ" "Envoy Air",
"OO" "SkyWest Airlines Inc.",
"UA" "United Air Lines Inc.",
"US" "US Airways Inc.",
"VX" "Virgin America",
"WN" "Southwest Airlines Co.",
"YV" "Mesa Airlines Inc.",

```

In [8]:
carrier_airline = dict({
    "9E":"Endeavor Air Inc.",
"AA":"American Airlines Inc.",
"AS":"Alaska Airlines Inc.",
"B6":"JetBlue Airways",
"DL":"Delta Air Lines Inc.",
"EV":"ExpressJet Airlines Inc.",
"F9":"Frontier Airlines Inc.",
"FL":"AirTran Airways Corporation",
"HA":"Hawaiian Airlines Inc.",
"MQ":"Envoy Air",
"OO":"SkyWest Airlines Inc.",
"UA":"United Air Lines Inc.",
"US":"US Airways Inc.",
"VX":"Virgin America",
"WN":"Southwest Airlines Co.",
"YV":"Mesa Airlines Inc."
})
carrier_airline

{'9E': 'Endeavor Air Inc.',
 'AA': 'American Airlines Inc.',
 'AS': 'Alaska Airlines Inc.',
 'B6': 'JetBlue Airways',
 'DL': 'Delta Air Lines Inc.',
 'EV': 'ExpressJet Airlines Inc.',
 'F9': 'Frontier Airlines Inc.',
 'FL': 'AirTran Airways Corporation',
 'HA': 'Hawaiian Airlines Inc.',
 'MQ': 'Envoy Air',
 'OO': 'SkyWest Airlines Inc.',
 'UA': 'United Air Lines Inc.',
 'US': 'US Airways Inc.',
 'VX': 'Virgin America',
 'WN': 'Southwest Airlines Co.',
 'YV': 'Mesa Airlines Inc.'}

In [9]:
df['carrier'].map(carrier_airline)

0           United Air Lines Inc.
1           United Air Lines Inc.
2          American Airlines Inc.
3                 JetBlue Airways
4            Delta Air Lines Inc.
                   ...
99995    ExpressJet Airlines Inc.
99996           Endeavor Air Inc.
99997             JetBlue Airways
99998       United Air Lines Inc.
99999       United Air Lines Inc.
Name: carrier, Length: 100000, dtype: object

In [10]:
df["airline_name"] = df['carrier'].map(carrier_airline)

In [11]:
df

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,airline_name
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z,United Air Lines Inc.
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z,United Air Lines Inc.
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z,American Airlines Inc.
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z,JetBlue Airways
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z,Delta Air Lines Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2013,12,19,814.0,817,-3.0,920.0,931,-11.0,EV,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z,ExpressJet Airlines Inc.
99996,2013,12,19,815.0,810,5.0,1033.0,1047,-14.0,9E,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z,Endeavor Air Inc.
99997,2013,12,19,815.0,815,0.0,1117.0,1123,-6.0,B6,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z,JetBlue Airways
99998,2013,12,19,815.0,749,26.0,1113.0,1103,10.0,UA,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z,United Air Lines Inc.
99999,2013,12,19,816.0,800,16.0,1130.0,1118,12.0,UA,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z,United Air Lines Inc.

**Part 2** 

Now we need to fix the missing rows and values.

**a.** Check out the rows missing values for "dep_delay". Can we keep them? If not, remove those rows.

(note: we're only interested in rows with flight time information)

In [12]:
df.loc[df['dep_delay'].isna()]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,airline_name
838,2013,1,1,NaN,1630,NaN,NaN,1815,NaN,EV,4308,N18120,EWR,RDU,NaN,416,16,30,2013-01-01T21:00:00Z,ExpressJet Airlines Inc.
839,2013,1,1,NaN,1935,NaN,NaN,2240,NaN,AA,791,N3EHAA,LGA,DFW,NaN,1389,19,35,2013-01-02T00:00:00Z,American Airlines Inc.
840,2013,1,1,NaN,1500,NaN,NaN,1825,NaN,AA,1925,N3EVAA,LGA,MIA,NaN,1096,15,0,2013-01-01T20:00:00Z,American Airlines Inc.
841,2013,1,1,NaN,600,NaN,NaN,901,NaN,B6,125,N618JB,JFK,FLL,NaN,1069,6,0,2013-01-01T11:00:00Z,JetBlue Airways
1777,2013,1,2,NaN,1540,NaN,NaN,1747,NaN,EV,4352,N10575,EWR,CVG,NaN,569,15,40,2013-01-02T20:00:00Z,ExpressJet Airlines Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98868,2013,12,17,NaN,1500,NaN,NaN,1619,NaN,US,2185,NaN,LGA,DCA,NaN,214,15,0,2013-12-17T20:00:00Z,US Airways Inc.
98869,2013,12,17,NaN,1600,NaN,NaN,1719,NaN,US,2187,NaN,LGA,DCA,NaN,214,16,0,2013-12-17T21:00:00Z,US Airways Inc.
99823,2013,12,18,NaN,830,NaN,NaN,1037,NaN,DL,517,N319NB,EWR,MSP,NaN,1008,8,30,2013-12-18T13:00:00Z,Delta Air Lines Inc.
99824,2013,12,18,NaN,703,NaN,NaN,914,NaN,EV,4155,N14174,EWR,GRR,NaN,605,7,3,2013-12-18T12:00:00Z,ExpressJet Airlines Inc.
99825,2013,12,18,NaN,600,NaN,NaN,717,NaN,EV,5716,N830AS,JFK,IAD,NaN,228,6,0,2013-12-18T11:00:00Z,ExpressJet Airlines Inc.

In [13]:
df.dropna(subset=['dep_delay'], inplace=True)
df

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,airline_name
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z,United Air Lines Inc.
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z,United Air Lines Inc.
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z,American Airlines Inc.
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z,JetBlue Airways
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z,Delta Air Lines Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2013,12,19,814.0,817,-3.0,920.0,931,-11.0,EV,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z,ExpressJet Airlines Inc.
99996,2013,12,19,815.0,810,5.0,1033.0,1047,-14.0,9E,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z,Endeavor Air Inc.
99997,2013,12,19,815.0,815,0.0,1117.0,1123,-6.0,B6,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z,JetBlue Airways
99998,2013,12,19,815.0,749,26.0,1113.0,1103,10.0,UA,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z,United Air Lines Inc.
99999,2013,12,19,816.0,800,16.0,1130.0,1118,12.0,UA,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z,United Air Lines Inc.

**b.** Now check out the rows missing "arr_time". Can we keep them? Drop them if not.

In [14]:
df.dropna(subset=['arr_time'], inplace=True)
df

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,airline_name
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z,United Air Lines Inc.
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z,United Air Lines Inc.
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z,American Airlines Inc.
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z,JetBlue Airways
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z,Delta Air Lines Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2013,12,19,814.0,817,-3.0,920.0,931,-11.0,EV,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z,ExpressJet Airlines Inc.
99996,2013,12,19,815.0,810,5.0,1033.0,1047,-14.0,9E,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z,Endeavor Air Inc.
99997,2013,12,19,815.0,815,0.0,1117.0,1123,-6.0,B6,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z,JetBlue Airways
99998,2013,12,19,815.0,749,26.0,1113.0,1103,10.0,UA,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z,United Air Lines Inc.
99999,2013,12,19,816.0,800,16.0,1130.0,1118,12.0,UA,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z,United Air Lines Inc.

**c.** Now let's check out the rows missing `air_time`. Can we keep them? Drop them if not.

In [15]:
df.dropna(subset=['air_time'], inplace=True)
df

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,airline_name
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z,United Air Lines Inc.
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z,United Air Lines Inc.
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z,American Airlines Inc.
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z,JetBlue Airways
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z,Delta Air Lines Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2013,12,19,814.0,817,-3.0,920.0,931,-11.0,EV,4234,N25134,EWR,BWI,40.0,169,8,17,2013-12-19T13:00:00Z,ExpressJet Airlines Inc.
99996,2013,12,19,815.0,810,5.0,1033.0,1047,-14.0,9E,3741,N293PQ,LGA,MCI,172.0,1107,8,10,2013-12-19T13:00:00Z,Endeavor Air Inc.
99997,2013,12,19,815.0,815,0.0,1117.0,1123,-6.0,B6,281,N298JB,JFK,HOU,216.0,1428,8,15,2013-12-19T13:00:00Z,JetBlue Airways
99998,2013,12,19,815.0,749,26.0,1113.0,1103,10.0,UA,623,N504UA,EWR,SAN,337.0,2425,7,49,2013-12-19T12:00:00Z,United Air Lines Inc.
99999,2013,12,19,816.0,800,16.0,1130.0,1118,12.0,UA,997,N536UA,EWR,LAX,346.0,2454,8,0,2013-12-19T13:00:00Z,United Air Lines Inc.

**Part 3**

Making observations of what we have.

**a.** What flight was the longest? Where did it leave from and where did it land?

You might need to look up airport codes.

In [16]:
df["distance"].max()

4983

In [17]:
df.groupby("distance")[["origin", "dest"]].max()

         origin dest
distance
80          EWR  PHL
94          JFK  PHL
96          LGA  PHL
116         EWR  BDL
143         EWR  ALB
...         ...  ...
2569        JFK  SJC
2576        JFK  OAK
2586        JFK  SFO
4963        EWR  HNL
4983        JFK  HNL

[200 rows x 2 columns]

In [18]:
df.groupby("distance")[["origin", "dest"]].max().sort_values("distance", ascending=False).iloc[0]
#  integer-location [iloc]

origin    JFK
dest      HNL
Name: 4983, dtype: object

**b.** What flight was the shortest?

In [19]:
df.groupby("distance")[["origin", "dest"]].min().sort_values("distance").iloc[0]
#  integer-location [iloc]

origin    EWR
dest      PHL
Name: 80, dtype: object

**c.** What airline flied the most during this period?

hint: `.size()`

- [.value_counts()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.value_counts.html?highlight=value_count#pandas-dataframe-value-counts)
- [.to_frame()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.to_frame.html?highlight=to_frame#pandas-series-to-frame)

In [20]:
df["airline_name"].value_counts().to_frame().iloc[0]

airline_name    17353
Name: United Air Lines Inc., dtype: int64

**d.** Which destination was most flown to?

In [21]:
df["dest"].value_counts().to_frame().iloc[0]

dest    5036
Name: ATL, dtype: int64

**e.** Which location was flown from the most?

In [22]:
df["origin"].value_counts().to_frame().iloc[0]

origin    34766
Name: EWR, dtype: int64

**f.** Which flight had the longest departure delay?

In [23]:
df.groupby("dep_delay", as_index=True)[["origin", "dest", "airline_name", "flight"]].min().sort_values("dep_delay", ascending=False).iloc[0]

origin                             JFK
dest                               HNL
airline_name    Hawaiian Airlines Inc.
flight                              51
Name: 1301.0, dtype: object

In [24]:
df[df["dep_delay"] == df["dep_delay"].max()][["flight","dep_delay"]]

      flight  dep_delay
7072      51     1301.0

**g.** Which flight had the longest arrival delay? Should match the previous.

In [25]:
df.groupby("arr_delay")[["origin", "dest", "airline_name", "flight"]].min().sort_values("arr_delay", ascending=False).iloc[0]

origin                             JFK
dest                               HNL
airline_name    Hawaiian Airlines Inc.
flight                              51
Name: 1272.0, dtype: object

**h.** Which airline had the longest arrival delays on average?

In [26]:
df.groupby(["airline_name"])["arr_delay"].mean().sort_values(ascending=False).to_frame().iloc[0]

arr_delay    20.584906
Name: Frontier Airlines Inc., dtype: float64

**i.** Which airline had the longest departure delays on average?

In [27]:
df.groupby(["airline_name"])["dep_delay"].mean().sort_values(ascending=False).to_frame().iloc[0]

dep_delay    17.247771
Name: ExpressJet Airlines Inc., dtype: float64

**j.** Which aircraft (going by tailnumber) flew the most?

In [28]:
df["tailnum"]

0        N14228
1        N24211
2        N619AA
3        N804JB
4        N668DN
          ...
99995    N25134
99996    N293PQ
99997    N298JB
99998    N504UA
99999    N536UA
Name: tailnum, Length: 97854, dtype: object

In [29]:
df.groupby(["tailnum"]).size()

tailnum
N0EGMQ    149
N10156     52
N102UW      8
N103US     13
N104UW      6
         ...
N997DL     17
N998AT      8
N998DL     21
N999DN     22
N9EAMQ     81
Length: 3733, dtype: int64

In [30]:
df.groupby("tailnum")[["airline_name"]].max().sort_values("tailnum", ascending=False).iloc[0]

airline_name    Envoy Air
Name: N9EAMQ, dtype: object

**Bonus:** What day had the most flights?

**Part 4**

Using one (or more) of the exercises from **Part 3**, plot the information in a matplotlib chart that has correct ticks, labels, titles and axis. Also ensure that the chart type that you use is the correct one for plotting the data you're using. Create a chart you would proudly show an employer.